* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  height: 100%;
  background-color: rgb(182, 148, 157);
  overflow-y: auto; /* or overflow-y: auto; */
  overflow-x: hidden;
  height: auto;
  min-height: 100vh;
}

body {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
}

#wheel {
  height: 100%;
  width: 100%;
  
  max-width: 100vw;
  max-height: 450px;
}

#title-container {
  padding-top: 40px;
  text-align: center; 
  margin-bottom: 20px;
}

#title-text {
  font-family: 'Arial', sans-serif; 
  font-size: 24px;
  font-weight: bold; 
  color: #333;
  margin: 0; 
}

#info-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  width: 160px;
  border: 1.5px solid #000;
  text-align: center;
  padding: 10px;

}

#info-title {
  text-align: center;
  font-family: 'Arial', sans-serif; 
  font-size: 20px;
  color: #000000;
  line-height: 21pt;
  line-height-step: 21pt;
}

#info-text {
  text-align: center;
  font-family: 'Arial', sans-serif; 
  font-size: 16px;
  color: #000000;
  line-height: 21pt;
  line-height-step: 21pt;
}

#pop-up {
  background-color: #da5485;
  text-align: center;
  font-family: 'Arial', sans-serif; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
  height: 100px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 2.5px #858585;
}

#pop-up-button {
  background-color: #b93264;
  font-family: 'Arial', sans-serif; 
  position: absolute;
  top: 67%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 50px;
  border: 2px solid black;
  box-shadow: 5px 5px 2.5px #858585;
}

#back-button {
  position: absolute;
  margin-top: 25px;
  background-color: #b93264;
  margin-left: 50px;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 25px;
  border: 2px solid black;
  box-shadow: 3px 3px 2.5px #858585;
  z-index: 1;
}

#language-title {
  padding-top: 15px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
  position: relative;
  text-transform: uppercase;
}

#language-title:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -14px;
  background-color: #000000;
}

#language-title:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  background-color: #000000;
}

#language-description {
  text-align: center;
  font-family: 'Arial', sans-serif; 
  font-size: 16px;
  color: #000000;
  margin: 0; 
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 7px;
  line-height: 21pt;
  line-height-step: 21pt;
}

#playlist-button {
  align-self: center;
  margin-top: 40px;
  background-color: #e02677;
  text-align: center;
  font-size: 20px;
  width: 160px;
  height: 70px;
  border: 2px solid black;
  box-shadow: 5px 5px 2.5px #858585;
}

.random-text {
  position: absolute; /* Ensures positioning relative to <body> */
  font-family: Arial, sans-serif;
  opacity: 0.3;
  user-select: none;
  z-index: -1;
  white-space: nowrap; /* Prevents multi-line wrapping */
}

.collapsible-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: auto;
}

.collapsible {
  background-color: #bb105a;
  color: black;
  cursor: pointer;
  position: relative;
  padding: 10px;
  width: 10%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.active, .collapsible:hover {
  background-color: #830d0d;
}

.content {
  font-family: 'Arial', sans-serif;
  display: none;
  padding: 0 15px;
  overflow: hidden;
  background-color: #850202;
  border-left: 2px solid #ccc;
}

.content ul {
  list-style-type: none; /* Removes the bullet points */
  padding-left: 0; /* Removes default left padding */
}

.content li {
  margin-bottom: 10px; /* Optional: adds space between list items */
}

.content a {
  text-decoration: none;
  color: #9da1ff; /* Example color */
}
